In [ ]:
# general process outline

# take dataset files
# # don't copy datasets and put in 'final dataset' folder; point jupyter notebook to each individual dataset folder path
# read top x number of rows into pandas dataframe
# save new dataframe with only first_name, last_name, fraction_total
# assign dataset column and save as new dataframe

#build dataframes, then combine into final dataframe

In [ ]:
# CHUNK: LOADING DATA

In [ ]:
# CHUNK: CHUNK: PROCESSING LOADED DATA

In [ ]:
# CHUNK: COMBINING DATA

In [ ]:
# CHUNK: WRITING OUT FINAL DATA FILE

In [35]:
# EEBO

import pandas
import numpy

eebo_df = pandas.read_csv('../eebo/DO-NOT-EDIT/eebo_dataset_final_DO-NOT-EDIT.csv', nrows=40)
# eebo_df

In [36]:
eebo_df2 = eebo_df.loc[:, ['first_name', 'last_name', 'fraction_total']]
# eebo_df2

In [37]:
eebo_df3 = eebo_df2.assign(dataset='eebo')
eebo_df3

                        first_name           last_name  fraction_total dataset
0                        Anonymous                 NaN        0.291590    eebo
1                      Parliament.  England and Wales.        0.011711    eebo
2                        Charles I           Sovereign        0.010643    eebo
3               England and Wales.                 NaN        0.009838    eebo
4               Church of England.                 NaN        0.009440    eebo
5                       Charles II           Sovereign        0.007148    eebo
6                   Privy Council.          Scotland.         0.005735    eebo
7                          James I           Sovereign        0.004919    eebo
8                      Elizabeth I           Sovereign        0.004490    eebo
9                           Thomas           Sternhold        0.004218    eebo
10   Parliament. House of Commons.   England and Wales        0.002951    eebo
11                         Richard              Baxter        0.002826    eebo
12                          George                 Fox        0.002627    eebo
13                         Gilbert              Burnet        0.002240    eebo
14                            John              Dryden        0.001999    eebo
15                            John              Taylor        0.001968    eebo
16                          Joseph                Hall        0.001957    eebo
17                         William                Penn        0.001947    eebo
18                         William             Perkins        0.001947    eebo
19                William and Mary           Sovereign        0.001894    eebo
20                         William              Prynne        0.001727    eebo
21                        James II           Sovereign        0.001695    eebo
22                           Roger          L'Estrange        0.001685    eebo
23                           Henry               Smith        0.001591    eebo
24                           Simon             Patrick        0.001580    eebo
25                         Richard           Allestree        0.001486    eebo
26                          Jeremy              Taylor        0.001476    eebo
27                         Francis               Bacon        0.001287    eebo
28                         Gervase             Markham        0.001277    eebo
29                        England.                 NaN        0.001245    eebo
30                         William            Sherlock        0.001224    eebo
31                            John              Bunyan        0.001214    eebo
32                          Edward       Stillingfleet        0.001193    eebo
33                         William         Shakespeare        0.001162    eebo
34                          Robert               Boyle        0.001151    eebo
35                            John           Tillotson        0.001141    eebo
36                          George              Wither        0.001109    eebo
37                          Robert              Greene        0.001088    eebo
38                       Scotland.                 NaN        0.001078    eebo
39     Lords Justices and Council.            Ireland.        0.001078    eebo

In [39]:
# ESTC

import pandas
import numpy

estc_df = pandas.read_csv('../estc/DO-NOT-EDIT/estc_dataset_final_DO-NOT-EDIT.csv', nrows=159)
# estc_df

In [40]:
estc_df2 = estc_df.loc[:, ['first_name', 'last_name', 'fraction_total']]
# estc_df2

In [41]:
estc_df3 = estc_df2.assign(dataset='estc')
estc_df3

,first_name,last_name,fraction_total,dataset
0,Jonathan,Swift,0.032832,estc
1,T. (Tobias),Smollett,0.016946,estc
2,Samuel,Johnson,0.016416,estc
3,Ralph,Griffiths,0.015251,estc
4,Parliament.,Great Britain.,0.011650,estc
5,William,Shakespeare,0.010803,estc
6,Daniel,Defoe,0.007202,estc
7,Philological Society (Great Britain),NaN,0.006460,estc
8,Colin,Macfarquhar,0.005931,estc
9,Joseph,Priestley,0.005613,estc
10,Robert,Dodsley,0.005507,estc
11,Alexander,Pope,0.005401,estc
12,James,Anderson,0.005084,estc
13,Henry,St. John,0.004978,estc
14,Joseph,Addison,0.004554,estc
15,King of Prussia,Frederick II,0.004236,estc
16,George,Gleig,0.004130,estc
17,John,Sinclair,0.004130,estc
18,Charles,Rollin,0.003919,estc
19,Laurence,Sterne,0.003919,estc
20,Francis,Grose,0.003707,estc
21,John,Leland,0.003707,estc
22,John,Dryden,0.003601,estc
23,abbé,Raynal,0.003495,estc
24,William,Hayley,0.003495,estc
25,Thomas,Secker,0.003389,estc
26,Nautical Almanac Office.,Great Britain.,0.003389,estc
27,Edmund,Burke,0.003283,estc
28,Parliament. House of Commons.,Great Britain.,0.003283,estc
29,Giovanni Paolo,Marana,0.003177,estc
...,...,...,...,...
129,James,Dodsley,0.001165,estc
130,James,Beattie,0.001165,estc
131,Major (John),Scott,0.001165,estc
132,Mr.,Pratt,0.001165,estc
133,Richard,Hurd,0.001165,estc
134,Thomas,Gisborne,0.001165,estc
135,William,Penn,0.001165,estc
136,Ann Ward,Radcliffe,0.001059,estc
137,Christopher,Anstey,0.001059,estc
138,Francis,Hutcheson,0.001059,estc
139,Frederic.,Hervey,0.001059,estc
140,James,Harris,0.001059,estc
141,Jean Baptiste Louis,Crévier,0.001059,estc
142,Johann Georg,Zimmermann,0.001059,estc
143,John,Norris,0.001059,estc
144,John,Witherspoon,0.001059,estc
145,Joseph,Marshall,0.001059,estc
146,Josiah,Tucker,0.001059,estc
147,Mathieu François Pidanzat,de Mairobert,0.001059,estc
148,Mrs.,Gunning,0.001059,estc
149,Oliver,Goldsmith,0.001059,estc
150,Peter,Pindar,0.001059,estc
151,Stephen,Jones,0.001059,estc
152,William,Whitehead,0.001059,estc
153,William,Robertson,0.001059,estc
154,William,Dodd,0.001059,estc
155,Harry Houdini Collection,Library of Congress,0.001059,estc
156,John Davis Batchelder Collection,Library of Congress,0.001059,estc
157,Euclid.,NaN,0.001059,estc
158,Parliament. House of Lords.,Great Britain.,0.001059,estc

In [42]:
# OPEN SYLLABUS

import pandas
import numpy

open_syllabus_df = pandas.read_csv('../open-syllabus/english-lit/DO-NOT-EDIT/open-syllabus_final_DO-NOT-EDIT.csv', nrows=250)
# open_syllabus_df

In [43]:
open_syllabus_df2 = open_syllabus_df.loc[:, ['first_name', 'last_name', 'fraction_total']]
# open_syllabus_df2

In [46]:
open_syllabus_df3 = open_syllabus_df2.assign(dataset='open syllabus')
open_syllabus_df3

,first_name,last_name,fraction_total,dataset
0,William,Shakespeare,0.091391,open syllabus
1,Diana,Hacker,0.052262,open syllabus
2,Geoffrey,Chaucer,0.028778,open syllabus
3,William,Wordsworth,0.027481,open syllabus
4,Edgar Allen,Poe,0.027279,open syllabus
5,T. S.,Eliot,0.023131,open syllabus
6,William,Faulkner,0.022333,open syllabus
7,Virginia,Woolf,0.021134,open syllabus
8,Ernest,Hemingway,0.019325,open syllabus
9,Nathaniel,Hawthorne,0.019325,open syllabus
10,Laurie G.,Kirszner,0.019030,open syllabus
11,John,Milton,0.018823,open syllabus
12,James,Joyce,0.018722,open syllabus
13,Mary Wollstonecraft,Shelley,0.017512,open syllabus
14,Stephen R.,Mandell,0.017273,open syllabus
15,Jane,Austen,0.017174,open syllabus
16,Toni,Morrison,0.017030,open syllabus
17,Samuel Taylor,Coleridge,0.016989,open syllabus
18,William,Blake,0.016006,open syllabus
19,Herman,Melville,0.015923,open syllabus
20,Gerald,Graff,0.015408,open syllabus
21,Jonathan,Swift,0.014954,open syllabus
22,Cathy,Birkenstein,0.014529,open syllabus
23,John,Keats,0.014461,open syllabus
24,Walt,Whitman,0.014350,open syllabus
25,Kate,Chopin,0.014265,open syllabus
26,Mark,Twain,0.013634,open syllabus
27,Sophocles,NaN,0.013604,open syllabus
28,Andrea A.,Lunsford,0.013411,open syllabus
29,C. S.,Lewis,0.013375,open syllabus
...,...,...,...,...
220,J. K.,Rowling,0.003137,open syllabus
221,Ray,Bradbury,0.003121,open syllabus
222,Gustave,Flaubert,0.003115,open syllabus
223,John Stuart,Mill,0.003096,open syllabus
224,Ursula K.,Le Guin,0.003077,open syllabus
225,Paul,Lauter,0.003068,open syllabus
226,Jhumpa,Lahiri,0.003066,open syllabus
227,David,Lodge,0.003060,open syllabus
228,Tom,Stoppard,0.003060,open syllabus
229,NaN,Dante,0.003057,open syllabus
230,Nedra,Reynolds,0.003055,open syllabus
231,Jonathan,Edwards,0.003044,open syllabus
232,Niccolo,Machiavelli,0.003038,open syllabus
233,Jeanette,Winterson,0.003024,open syllabus
234,Helen,Tiffin,0.003016,open syllabus
235,Bill,Ashcroft,0.003008,open syllabus
236,Jacques,Derrida,0.002986,open syllabus
237,Bernard,Shaw,0.002972,open syllabus
238,Aldous,Huxley,0.002944,open syllabus
239,Marjane,Satrapi,0.002933,open syllabus
240,Cormac,McCarthy,0.002928,open syllabus
241,NaN,Modern Language Association of America,0.002903,open syllabus
242,Anne,Lamott,0.002900,open syllabus
243,Maynard,Mack,0.002900,open syllabus
244,Elaine,Showalter,0.002884,open syllabus
245,Katherine,Mansfield,0.002881,open syllabus
246,Marie,de France,0.002873,open syllabus
247,Muriel,Harris,0.002873,open syllabus
248,Malcolm,Bradbury,0.002837,open syllabus
249,Philip K.,Dick,0.002837,open syllabus

In [48]:
# OTA

import pandas
import numpy

ota_df = pandas.read_csv('../ota/DO-NOT-EDIT/ota_authors_dataset_final_DO-NOT-EDIT.csv', nrows=31)
# ota_df

In [49]:
ota_df2 = ota_df.loc[:, ['first_name', 'last_name', 'fraction_total']]
# ota_df2

In [50]:
ota_df3 = ota_df2.assign(dataset='ota')
ota_df3

               first_name    last_name  fraction_total dataset
0                  Daniel        Defoe        0.039116     ota
1                  Hannah         More        0.024991     ota
2               Alexander         Pope        0.022093     ota
3                  Oliver    Goldsmith        0.018472     ota
4                     NaN    (unknown)        0.017023     ota
5                 Rudyard      Kipling        0.016661     ota
6                    John      Trusler        0.015936     ota
7                 Charles       Dibdin        0.014850     ota
8    Mr. (Samuel Jackson)        Pratt        0.014850     ota
9                 William  Shakespeare        0.013401     ota
10                 Thomas     Holcroft        0.012314     ota
11                 Thomas        Paine        0.012314     ota
12                William       Hayley        0.011590     ota
13                 Edmund        Burke        0.011228     ota
14                 Joseph      Addison        0.010503     ota
15                   John     O'Keeffe        0.010503     ota
16              Granville        Sharp        0.010503     ota
17                   John    Arbuthnot        0.009779     ota
18                  David      Garrick        0.009779     ota
19                Richard   Cumberland        0.009417     ota
20                William       Gilpin        0.009417     ota
21           Mr. (Edward)   Jerningham        0.009417     ota
22           W. (William)      Kenrick        0.009417     ota
23              Charlotte       Lennox        0.009055     ota
24                 Arthur       Murphy        0.009055     ota
25            E. (Edward)      Donovan        0.008330     ota
26     Elizabeth Cleghorn      Gaskell        0.008330     ota
27                Charles    Churchill        0.007968     ota
28                 Samuel   Richardson        0.007968     ota
29                   John       Dennis        0.007606     ota
30                  David         Hume        0.007606     ota

In [54]:
# PROJECT GUTENBERG

import pandas
import numpy

project_gutenberg_df = pandas.read_csv('../project-gutenberg-2/DO-NOT-EDIT/project-gutenberg-2_final_DO-NOT-EDIT.csv', nrows=1057)
# project_gutenberg_df

In [55]:
project_gutenberg_df2 = project_gutenberg_df.loc[:, ['first_name', 'last_name', 'fraction_total']]
# project_gutenberg_df2

In [56]:
project_gutenberg_df3 = project_gutenberg_df2.assign(dataset='project gutenberg')

,first_name,last_name,fraction_total,dataset
0,Various,NaN,0.057384,project gutenberg
1,Anonymous,NaN,0.012489,project gutenberg
2,William,Shakespeare,0.005409,project gutenberg
3,Mark,Twain,0.003722,project gutenberg
4,Edward Bulwer,Lytton,0.003656,project gutenberg
5,Charles,Dickens,0.003027,project gutenberg
6,Georg,Ebers,0.002845,project gutenberg
7,Jules,Verne,0.002729,project gutenberg
8,Honoré de,Balzac,0.002465,project gutenberg
9,Alexandre,Dumas,0.002349,project gutenberg
10,Unknown,NaN,0.002332,project gutenberg
11,Gilbert,Parker,0.002217,project gutenberg
12,Arthur Conan,Doyle,0.002200,project gutenberg
13,William Henry Giles,Kingston,0.002200,project gutenberg
14,George Manville,Fenn,0.002117,project gutenberg
15,W. W. (William Wymark),Jacobs,0.001853,project gutenberg
16,George,Meredith,0.001836,project gutenberg
17,G. A. (George Alfred),Henty,0.001803,project gutenberg
18,William Dean,Howells,0.001803,project gutenberg
19,Horatio,Alger Jr.,0.001787,project gutenberg
20,Mór,Jókai,0.001770,project gutenberg
21,Robert Louis,Stevenson,0.001770,project gutenberg
22,John Lothrop,Motley,0.001704,project gutenberg
23,Jack,London,0.001687,project gutenberg
24,Nathaniel,Hawthorne,0.001671,project gutenberg
25,R. M. (Robert Michael),Ballantyne,0.001654,project gutenberg
26,H. G. (Herbert George),Wells,0.001638,project gutenberg
27,Émile,Zola,0.001605,project gutenberg
28,L. Frank (Lyman Frank),Baum,0.001605,project gutenberg
29,Walter,Scott,0.001571,project gutenberg
...,...,...,...,...
1027,Robert J.,Nemiroff,0.000149,project gutenberg
1028,Robert Moore,Williams,0.000149,project gutenberg
1029,Robert W. (Robert William),Service,0.000149,project gutenberg
1030,Rog,Phillips,0.000149,project gutenberg
1031,Rollin H. (Rollin Harold),Baker,0.000149,project gutenberg
1032,Rupert Sargent,Holland,0.000149,project gutenberg
1033,Selma,Anttila,0.000149,project gutenberg
1034,Stephen Lucius,Gwynn,0.000149,project gutenberg
1035,Temple,Bailey,0.000149,project gutenberg
1036,Thomas,Malory,0.000149,project gutenberg
1037,Thomas,Hughes,0.000149,project gutenberg
1038,Thomas,Mann,0.000149,project gutenberg
1039,Thomas,Hoover,0.000149,project gutenberg
1040,W. E. B. (William Edward Burghardt),Du Bois,0.000149,project gutenberg
1041,W. S. (William Schwenck),Gilbert,0.000149,project gutenberg
1042,Waldemar,Bonsels,0.000149,project gutenberg
1043,William,Godwin,0.000149,project gutenberg
1044,William Hale,White,0.000149,project gutenberg
1045,William Henry,Holmes,0.000149,project gutenberg
1046,William Pitt,Scargill,0.000149,project gutenberg
1047,William T. (William Tecumseh),Sherman,0.000149,project gutenberg
1048,Woodrow,Wilson,0.000149,project gutenberg
1049,Xiang,Liu,0.000149,project gutenberg
1050,Xun,Lu,0.000149,project gutenberg
1051,NaN,Ovid,0.000149,project gutenberg
1052,NaN,Jean Paul,0.000149,project gutenberg
1053,NaN,Saki,0.000149,project gutenberg
1054,NaN,Horace,0.000149,project gutenberg
1055,War Department,United States.,0.000149,project gutenberg
1056,Valmiki,NaN,0.000149,project gutenberg

In [59]:
concat_data = pandas.concat([eebo_df3, estc_df3, open_syllabus_df3, ota_df3, project_gutenberg_df3], axis=0)
concat_data

,first_name,last_name,fraction_total,dataset
0,Anonymous,NaN,0.291590,eebo
1,Parliament.,England and Wales.,0.011711,eebo
2,Charles I,Sovereign,0.010643,eebo
3,England and Wales.,NaN,0.009838,eebo
4,Church of England.,NaN,0.009440,eebo
5,Charles II,Sovereign,0.007148,eebo
6,Privy Council.,Scotland.,0.005735,eebo
7,James I,Sovereign,0.004919,eebo
8,Elizabeth I,Sovereign,0.004490,eebo
9,Thomas,Sternhold,0.004218,eebo
10,Parliament. House of Commons.,England and Wales,0.002951,eebo
11,Richard,Baxter,0.002826,eebo
12,George,Fox,0.002627,eebo
13,Gilbert,Burnet,0.002240,eebo
14,John,Dryden,0.001999,eebo
15,John,Taylor,0.001968,eebo
16,Joseph,Hall,0.001957,eebo
17,William,Penn,0.001947,eebo
18,William,Perkins,0.001947,eebo
19,William and Mary,Sovereign,0.001894,eebo
20,William,Prynne,0.001727,eebo
21,James II,Sovereign,0.001695,eebo
22,Roger,L'Estrange,0.001685,eebo
23,Henry,Smith,0.001591,eebo
24,Simon,Patrick,0.001580,eebo
25,Richard,Allestree,0.001486,eebo
26,Jeremy,Taylor,0.001476,eebo
27,Francis,Bacon,0.001287,eebo
28,Gervase,Markham,0.001277,eebo
29,England.,NaN,0.001245,eebo
...,...,...,...,...
1027,Robert J.,Nemiroff,0.000149,project gutenberg
1028,Robert Moore,Williams,0.000149,project gutenberg
1029,Robert W. (Robert William),Service,0.000149,project gutenberg
1030,Rog,Phillips,0.000149,project gutenberg
1031,Rollin H. (Rollin Harold),Baker,0.000149,project gutenberg
1032,Rupert Sargent,Holland,0.000149,project gutenberg
1033,Selma,Anttila,0.000149,project gutenberg
1034,Stephen Lucius,Gwynn,0.000149,project gutenberg
1035,Temple,Bailey,0.000149,project gutenberg
1036,Thomas,Malory,0.000149,project gutenberg
1037,Thomas,Hughes,0.000149,project gutenberg
1038,Thomas,Mann,0.000149,project gutenberg
1039,Thomas,Hoover,0.000149,project gutenberg
1040,W. E. B. (William Edward Burghardt),Du Bois,0.000149,project gutenberg
1041,W. S. (William Schwenck),Gilbert,0.000149,project gutenberg
1042,Waldemar,Bonsels,0.000149,project gutenberg
1043,William,Godwin,0.000149,project gutenberg
1044,William Hale,White,0.000149,project gutenberg
1045,William Henry,Holmes,0.000149,project gutenberg
1046,William Pitt,Scargill,0.000149,project gutenberg
1047,William T. (William Tecumseh),Sherman,0.000149,project gutenberg
1048,Woodrow,Wilson,0.000149,project gutenberg
1049,Xiang,Liu,0.000149,project gutenberg
1050,Xun,Lu,0.000149,project gutenberg
1051,NaN,Ovid,0.000149,project gutenberg
1052,NaN,Jean Paul,0.000149,project gutenberg
1053,NaN,Saki,0.000149,project gutenberg
1054,NaN,Horace,0.000149,project gutenberg
1055,War Department,United States.,0.000149,project gutenberg
1056,Valmiki,NaN,0.000149,project gutenberg

In [63]:
concat_data.sort_values(by=['fraction_total'])

,first_name,last_name,fraction_total,dataset
1056,Valmiki,NaN,0.000149,project gutenberg
968,Ernst,Eckstein,0.000149,project gutenberg
969,Ezra,Pound,0.000149,project gutenberg
970,F. T.,Marinetti,0.000149,project gutenberg
971,Frances Mary,Peard,0.000149,project gutenberg
972,Francis,Rolt-Wheeler,0.000149,project gutenberg
973,Franz,Hoffmann,0.000149,project gutenberg
974,George Jacob,Holyoake,0.000149,project gutenberg
975,Gerhart,Hauptmann,0.000149,project gutenberg
976,Giambattista della,Porta,0.000149,project gutenberg
977,Guillaume,Apollinaire,0.000149,project gutenberg
978,H. (Hermann),Knackfuss,0.000149,project gutenberg
979,Hamilton Wright,Mabie,0.000149,project gutenberg
967,Ernest,Ingersoll,0.000149,project gutenberg
980,Harold,Brighouse,0.000149,project gutenberg
982,Heikki,Meriläinen,0.000149,project gutenberg
983,Henry,Lawson,0.000149,project gutenberg
984,Henry M. (Henry Morton),Stanley,0.000149,project gutenberg
985,Henry S. (Henry Sheldon),Fitch,0.000149,project gutenberg
986,Herbert F. (Herbert Francis),Peyser,0.000149,project gutenberg
987,Hezekiah,Butterworth,0.000149,project gutenberg
988,Homer,Greene,0.000149,project gutenberg
989,J. W.,Duffield,0.000149,project gutenberg
990,Jaime Luciano,Balmes,0.000149,project gutenberg
991,James,Payn,0.000149,project gutenberg
992,James,Parkerson,0.000149,project gutenberg
993,James R.,Driscoll,0.000149,project gutenberg
981,Harry Alverson,Franck,0.000149,project gutenberg
994,Jerome,Bixby,0.000149,project gutenberg
966,Enos A.,Mills,0.000149,project gutenberg
...,...,...,...,...
18,William,Blake,0.016006,open syllabus
2,Samuel,Johnson,0.016416,estc
5,Rudyard,Kipling,0.016661,ota
1,T. (Tobias),Smollett,0.016946,estc
17,Samuel Taylor,Coleridge,0.016989,open syllabus
4,NaN,(unknown),0.017023,ota
16,Toni,Morrison,0.017030,open syllabus
15,Jane,Austen,0.017174,open syllabus
14,Stephen R.,Mandell,0.017273,open syllabus
13,Mary Wollstonecraft,Shelley,0.017512,open syllabus
3,Oliver,Goldsmith,0.018472,ota
12,James,Joyce,0.018722,open syllabus
11,John,Milton,0.018823,open syllabus
10,Laurie G.,Kirszner,0.019030,open syllabus
9,Nathaniel,Hawthorne,0.019325,open syllabus
8,Ernest,Hemingway,0.019325,open syllabus
7,Virginia,Woolf,0.021134,open syllabus
2,Alexander,Pope,0.022093,ota
6,William,Faulkner,0.022333,open syllabus
5,T. S.,Eliot,0.023131,open syllabus
1,Hannah,More,0.024991,ota
4,Edgar Allen,Poe,0.027279,open syllabus
3,William,Wordsworth,0.027481,open syllabus
2,Geoffrey,Chaucer,0.028778,open syllabus
0,Jonathan,Swift,0.032832,estc
0,Daniel,Defoe,0.039116,ota
1,Diana,Hacker,0.052262,open syllabus
0,Various,NaN,0.057384,project gutenberg
0,William,Shakespeare,0.091391,open syllabus
0,Anonymous,NaN,0.291590,eebo